/* CUSTOM CSS CHANGES */

/* CUSTOM STYLES FOR THE SORT/FILTER YOUR RESULTS SLIDE-IN */
/* ------------------------------------------------------- */
/* Sets the Sort By radio button color in the sort/filter slide-in */
[type="radio"]:checked+span:after {
    background-color: #F44336;
    border: 2px solid #F44336;
}
/* Sets the "Filter By Service" toggle border color in the sort/filter slide-in" */
[type="radio"]:not(:checked)+span:before {
    border: 2px solid #444;
}
/* Sets background field area for "Filter By Service" toggle switch in the sort/filter slide-in" */
.switch label input[type=checkbox]:checked+.lever {
    background-color: #ff9a93;
}
/* Sets the "Filter By Service" toggle switch color in the sort/filter slide-in" */
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #f44336;
}
/* Sets the "Filter By Price Range" slider color in the sort/filter slide-in" */
input[type=range]::-webkit-slider-thumb {
    background-color: #F44336;
}
/* Sets a high z-index on the filter btn so that it floats over elements as topmost clickable object/button */
#filterBtnDiv {
    z-index: 1000;
}

/* FAB BUTTON / MENU PLACEMENT */
#fab-parent-container-div {
    position: absolute; 
    right: 41px !important;; 
    top: 8px; 
    height: 70px; 
    margin-top: 30px;
}
#fab-toggle-parent-div {
    position: relative; 
    right: 41px !important;
}



/* AVERAGE RATING / STARS ELEMENT  */
/* ------------------------------------------------------- */
/* Class to hide a line break (only show on mobile) */
.mobileShow {
    display: none;
}
/* Adjusts the font size of the Average Rating title */
#deskAvgRatingTitle {
    font-size: 90%;
}

/* RESTAURANT IMAGE  */
/* ------------------------------------------------------- */
/* Sets display parameters for the restaurant image */
#restImage {
    width: 100%;
    object-fit: cover;
    text-align: center;
    align-content: space-around;
}

/* RESTAURANT TITLE  */
/* ------------------------------------------------------- */
/* positions the restaurant name and sizes it, sets wrappinging etc. */
#restNameSpan {
    font-size: 100% !important;
    margin-top: 40px !important;
    padding-top: 40px !important;
    line-height: .8 !important;
    text-align: left;
    /* word-wrap: normal; */
    font-weight: 700;
}

/* SAFETY RATING CALLOUT  */
/* ------------------------------------------------------- */
/* Sets the font-size of the text in the safety rating etc. */
#safetyRatingSpan {
    font-size: 150%;
}


#busy-right-now-callout, #busiest-time-callout, #safest-time-callout {
    position: inline;
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    line-height: 1;
}

#busy-right-now-callout h5, #busiest-time-callout h5, #safest-time-callout h5 {
    font-size: 300%;
}

/* ON MOBILE: positions and spaces the % Busy Right Now text */
#busy-right-now-callout {
    padding-top: 0;
    margin-top: 0px;
}
/* ON MOBILE: positions and spaces the busiest time text */
#busiest-time-callout, #safest-time-callout {
    padding-top: 2px;
}


/* ON MOBILE: Adjusts the placement of the safety text info that is adjacent to the safety rating callout */
#safety-text-column {
    top: -100px;
    /* left: -40px; */
    position: relative;
    float: left;
}




/* CTA BUTTONS TO FAVORITE THE RESTAURANT/SEE THE MENU/AND GET DIRECTIONS  */
/* ------------------------------------------------------- */
/* Sets left margin of the favorites btn div */
#favoritesBtnDiv {
    margin-left: 30px;
}
/* Sets position and spacing to have the buttons align together in same line on desktop+ */
#favoritesBtnDiv, #seeMenuBtnDiv, #getDirectionsBtnDiv {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

/* Resets hover styling of text and icon in the CTA btns to white color */
#addFavoriteBtn:visited, #addFavoriteBtn:hover, #addFavoriteBtn:active, #removeFavoriteBtn:visited, #removeFavoriteBtn:hover, #removeFavoriteBtn:active, #seeMenuBtn:visited, #seeMenuBtn:active, #seeMenuBtn:hover, #mapitBtn:visited, #mapitBtn:active, #mapitBtn:hover {
    color: #fff !important;
    text-decoration: none;
}
#addFavoriteBtn, #removeFavoriteBtn, #seeMenuBtn, #mapitBtn {
    color: white;
}


/* MAPS IMAGE  */
/* ------------------------------------------------------- */
/* Sets image width && size */
#mapsDiv img {
    /* width: 25vw; */
    width: 100%;
    object-fit: cover;
    text-align: center;
    align-content: space-around;
    margin-top: 50px;
}


/* ********************************************************************************************* */
/* ********************************************************************************************* */


/* CUSTOM CSS CHANGES FOR RESTAURANT DETAILS PAGE ON MOBILE DEVICES */
@media screen and (max-width: 450px) {
    
    /* Sets top nav area to be sticky */ 
    .topHeader {
        position: sticky !important;
    }


    /* AVERAGE RATING / STARS ELEMENT  */
    /* ------------------------------------------------------- */
    /* ON MOBILE: Class to hide a line break in between stars and "Average Rating" and adjust rating title placement */
    .mobileShow {
        display: inline;
        margin-top: 0;
        padding-top: 0;
        text-align: left;
        padding-left: 0;
        margin-left: 0;
        font-variant-position: super;
    }
    /* ON MOBILE: adjusts font-size and padding for the average rating title*/
    #deskAvgRatingTitle {
        font-size: 75%;
        padding-left: 10px;
    }
    /* ON MOBILE: pads the whole stars and avg. rating title div over */
    #restaurantImageStars {
        padding-left: 20px !important;
    }

    /* RESTAURANT IMAGE  */
    /* ------------------------------------------------------- */
    /* ON MOBILE: Sets display parameters for the restaurant image */
    #restImage {
        width: 100%;
        margin-top: 10px;
        margin-left: -4px;
        padding-left: 0;
        object-fit: cover;
        text-align: center;
        align-content: space-around;
    }

    /* RESTAURANT TITLE  */
    /* ------------------------------------------------------- */
    /* ON MOBILE: positions the restaurant name and sizes it, sets wrappinging etc. */    
    #restaurantName {
        margin-top: -20px !important;
    }
    #restaurantName h3 {
        line-height: 0.8 !important;
    }
    #restNameSpan {
        font-size: 70% !important;
        
        text-align: left;
        word-wrap: normal;
        font-weight: 700;
    }


    /* RED FAB MENU BUTTON AND ORANGE SUB-MENU BUTTONS  */
    /* ------------------------------------------------------- */
    /* ON MOBLE: adjusts the spacing and position of the FAB and the menu buttons */
    #fab-toggle-parent-div {
        position: fixed;
        top: 0;
        /* right: 41px !important; */
    }
    #fab-toggle-menu {
        position: fixed;
        float: right;
        top: 15px;
        right: 45px;
    }
    #fab-toggle-parent-div > ul > li {
        margin-right: 5px;
        padding-right: 0;
        margin-top: 20px;
    }

    #fab-toggle-parent-div > ul {
        margin-right: -10px;
        padding-right: 0;
        padding-left: 0;
        margin-left: -10px
    }

    /* SAFETY RATING CALLOUT  */
    /* ------------------------------------------------------- */
    /* ON MOBILE: Sets the max-dimensions and spacing for the safety rating div */
    #safetyRatingDiv {
        max-width: 130px;
        max-height: 140px !important;
        padding: 0 !important;
        margin-top: 10px !important;
        margin-left: 3px !important;
        margin-bottom: 0;
    }
    /* ON MOBILE: Sets the fontsize, alignment and spacing for the safety rating text */
    #safetyRatingSpan {
        font-size: 75% !important;
        margin: 0 !important;
        padding: 0 !important;
        vertical-align: text-top !important;
    }
    /* ON MOBILE: Adjusts the placement of the safety text info that is adjacent to the safety rating callout */
    #safety-text-column {
        top: -100px;
        left: -40px;
        position: relative;
        float: right;
    }
    /* ON MOBILE: Resizes (down) the font-size of the text "AT THIS TIME" */
    #at-this-time {
        font-size: 70% !important; 
    }
    /* ON MOBILE: Resizes the font-size of the text "SAFETY RATING" */
    #safety-rating-text {
        font-size: 180% !important;
    }
    /* ON MOBILE: positions and spaces the % Busy Right Now text */
    #busy-right-now-callout {
        position: inline;
        text-align: left;
        padding-top: 0;
        margin-top: 0px;
        line-height: 1;
        padding-left: unset;
        margin-left: unset;
    }
    /* ON MOBILE: positions and spaces the busiest time text */
    #busiest-time-callout {
        position: inline;
        text-align: left;
        padding-top: 2px;
        line-height: 1;
        padding-left: unset;
        margin-left: unset;
    }
    /* ON MOBILE: positions and spaces the safest time text */
    #safest-time-callout {
        position: inline;
        text-align: left;
        padding-top: 2px;
        line-height: 1;
        padding-left: unset;
        margin-left: unset;
    }
    
    /* CTA BUTTONS TO FAVORITE THE RESTAURANT/SEE THE MENU/AND GET DIRECTIONS  */
    /* ------------------------------------------------------- */
    /* ON MOBILE: sets font size, line height, and width for CTA btns */
    #addFavoriteBtn, #removeFavoriteBtn, #seeMenuBtn, #mapitBtn {
        font-size: 15px;
        line-height: 1.2;
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 10px;
        color: white;

    }
    /* ON MOBILE: sets display, width, padding and z-index for the divs of the CTA btns */
    #favoritesBtnDiv, #seeMenuBtnDiv, #getDirectionsBtnDiv { 
        display: block;
        position: relative;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        float: none;
        margin-top: 10px;
        margin-left: unset;
        margin-right: unset;
        z-index: 0;
    }

    /* MAPS IMAGE  */
    /* ------------------------------------------------------- */
    /* ON MOBILE: sets margin for both the maps image and #getDirectionsBtnDiv */
    #mapsDiv img {
        /* width: 70vw; */
        /* margin: 20px; */
        width: 100%;
    object-fit: cover;
    text-align: center;
    align-content: space-around;
    margin-top: 20px;
    }
}

/* Administrative CSS Classes */
.clearfix { 
    content: " ";
    display: block;
    clear: both;
    /* to be placed on elements after floats */
}

/* Class to truncate lines */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
